<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Buzzzzble</servlet-name>
		<servlet-class>org.sunotaku.buzzzzble.BuzzzzbleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Buzzzzble</servlet-name>
		<url-pattern>/buzzzzble</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Callback</servlet-name>
		<servlet-class>net.oauth.example.consumer.webapp.Callback</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Callback</servlet-name>
		<url-pattern>/Callback</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OauthAuthorizationServlet</servlet-name>
		<servlet-class>org.sunotaku.buzzzzble.OauthAuthorizationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OauthAuthorizationServlet</servlet-name>
		<url-pattern>/OauthAuthorizationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BuzzzzbleAPIServlet</servlet-name>
		<servlet-class>org.sunotaku.buzzzzble.BuzzzzbleAPIServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BuzzzzbleAPIServlet</servlet-name>
		<url-pattern>/doAPI</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>main.html</welcome-file>
	</welcome-file-list>
</web-app>
